In [1]:
import pandas as pd
import numpy as np

In [2]:
q_df = pd.DataFrame([['male', 'teacher'],
                     ['male', 'engineer'],
                     ['female', None],
                     ['female', 'engineer']], columns = ['Sex', 'Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [3]:
np.where(q_df.isna())

(array([2]), array([1]))

## #1.缺失值填入字串 'others'

In [4]:
q_df = q_df.fillna("others")

## #2. 更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

In [5]:
print(type(q_df[['Profession']])) #DataFrame型態
print(type(q_df['Profession'])) #Series型態

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [6]:
#若傳入的資料型態為series，就不會做出像是Profession_engineer的命名，而只會做出engineer的命名
#若傳入的資料型態為DataFrame，就會做出像是Profession_engineer的命名。
pf = pd.get_dummies(q_df[["Profession"]])

In [7]:
q_df = pd.concat([q_df, pf], axis = 1)
q_df

,Sex,Profession,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,0,1
1,male,engineer,1,0,0
2,female,others,0,1,0
3,female,engineer,1,0,0

#### 結論：使用一般性類別資料較好，因為職業沒有順序之分。

In [8]:
q1_df = pd.DataFrame([[None, 'teacher'],
                     ['male', 'engineer'],
                     ['female', None],
                     ['female', 'engineer']], columns = ['Sex', 'Profession'])
q1_df

      Sex Profession
0    None    teacher
1    male   engineer
2  female       None
3  female   engineer

In [16]:
q1_df.replace({'Sex' : { None : 'male'}, 'Profession' : { None : 'others'}}) #字典寫法做改變。

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [21]:
q1_df

      Sex Profession
0    None    teacher
1    male   engineer
2  female       None
3  female   engineer

In [20]:
q1_df['Sex'] = q1_df['Sex'].replace(None, 'male')

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'