In [8]:
import pandas as pd

In [26]:
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]], columns=['student_id','math_score','english_score','chinese_score'])
# score_df.index #RangeIndex
score_df = score_df.set_index('student_id') #能夠透過student_id來查詢資料
# score_df[score_df['student_id'] == 6] #此時的student_id要為column，而不是index

## #1.6號學生(student_id=6)3科平均分數為何?

In [34]:
# score_df.mean(axis = 1).iloc[5]
# score_df.loc[6,:]
# score_df[score_df.index == 6]
score_df.values[5]

array([60, 54, 55])

In [20]:
# Answer = 56.333
print("6號學生的三科平均成績為：", score_df.iloc[5].mean())

6號學生的三科平均成績為： 56.333333333333336

## #2. 6號學生3科平均分數是否有贏過班上一半的同學。

In [4]:
# Answer = 否
mean_score_df = pd.DataFrame(score_df.mean(axis = 1), columns = ['mean_score'])
mean_score_df

            mean_score
student_id
1            64.000000
2            56.333333
3            44.000000
4            78.666667
5            68.666667
6            56.333333
7            64.666667
8            62.333333
9            57.333333
10           57.000000

In [5]:
print("6號學生的平均成績是否大於中位數 : {}".format(score_df.iloc[5].mean() > mean_score_df.median()))

6號學生的平均成績是否大於中位數 : mean_score    False
dtype: bool

## #由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [6]:
# Math : 77.4596, Eng : 73.484, Chinese : 74.1619
new_score_df = score_df.apply(lambda x : x ** (0.5) * 10)
print("6號同學的新成績為：數學 : {}, 英文 : {}, 國文 : {}".format(new_score_df['math_score'][6], new_score_df['english_score'][6], new_score_df['chinese_score'][6]))

6號同學的新成績為：數學 : 77.45966692414834, 英文 : 73.48469228349535, 國文 : 74.16198487095663

## #承上題，加分後各科班平均變多少

In [7]:
# Math : 74.194221, Eng : 78.350301, Chinese : 78.739928
new_score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64