In [1]:
import pandas as pd
import numpy as np

In [2]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df = score_df.set_index('student_id')

In [3]:
score_df.describe()

       math_score  english_score  chinese_score      class
count   15.000000      15.000000      15.000000  15.000000
mean    58.066667      63.666667      59.733333   2.066667
std     23.947761      14.797040      16.782077   0.883715
min     20.000000      40.000000      23.000000   1.000000
25%     47.500000      53.500000      50.000000   1.000000
50%     56.000000      67.000000      60.000000   2.000000
75%     75.000000      73.500000      73.000000   3.000000
max     98.000000      90.000000      89.000000   3.000000

##  #1.找出全年級各科成績最高分與最低分?

In [4]:
print("數學成績最高分: {} 分，最低分: {} 分".format(score_df["math_score"].max(), score_df["math_score"].min()))

數學成績最高分: 98 分，最低分: 20 分

In [5]:
print("英文成績最高分: {} 分，最低分: {} 分".format(score_df["english_score"].max(), score_df["english_score"].min()))

英文成績最高分: 90 分，最低分: 40 分

In [6]:
print("國文成績最高分: {} 分，最低分: {} 分".format(score_df["chinese_score"].max(), score_df["chinese_score"].min()))

國文成績最高分: 89 分，最低分: 23 分

## #2.找出數學班平均最高的班級?

In [7]:
score_df.groupby("class").mean()

       math_score  english_score  chinese_score
class
1       54.800000      65.800000      64.400000
2       61.250000      64.750000      67.500000
3       58.666667      61.166667      50.666667

In [8]:
answer = score_df.groupby("class")["math_score"].mean()
answer.index

Int64Index([1, 2, 3], dtype='int64', name='class')

In [9]:
print("數學平均最高的班級為{}班，平均為{}分".format("2", answer[2]))

數學平均最高的班級為2班，平均為61.25分

## #3.分析全校女生與男生國文平均差幾分?

In [10]:
answer2 = score_df.groupby('sex').chinese_score.mean()
answer2

sex
boy     55.333333
girl    62.666667
Name: chinese_score, dtype: float64

In [11]:
print("全校女生國文成績比男生高{}分".format(np.round(answer2["girl"] - answer2["boy"]), 2))

全校女生國文成績比男生高7.0分

## 延伸

In [19]:
score_df.groupby('class').math_score.mean().argmax()

1

In [32]:
score_df.groupby('class').math_score.mean()

class
1    54.800000
2    61.250000
3    58.666667
Name: math_score, dtype: float64

In [34]:
score_df.groupby('class')['math_score'].mean().sort_values(ascending = False)

class
2    61.250000
3    58.666667
1    54.800000
Name: math_score, dtype: float64

In [41]:
score_df.groupby('class').mean()['math_score'].idxmax()

2

In [43]:
score_df.groupby('class').mean()['math_score'].index

Int64Index([1, 2, 3], dtype='int64', name='class')

In [44]:
score_df.groupby('class').mean()['math_score'][2]

61.25

In [47]:
score_df.groupby(('class')).agg(['max', 'min'])

      math_score     english_score     chinese_score       sex
             max min           max min           max min   max  min
class
1             98  25            80  43            77  55  girl  boy
2             70  55            77  45            89  50  girl  boy
3             89  20            90  40            77  23  girl  boy

In [49]:
diff = score_df[['chinese_score', 'sex']].groupby('sex').mean()
diff

      chinese_score
sex
boy       55.333333
girl      62.666667

In [55]:
diff.iloc[0] - diff.iloc[1]

chinese_score   -7.333333
dtype: float64

In [65]:
data = {'class' : ['A', 'A', 'B', 'B'],
        'chi_score' : [90, 95, 82, 73 ],
        'eng_score' : [60, 71 ,42 ,63]}
# len(data) # key的長度
df = pd.DataFrame(data)
df

  class  chi_score  eng_score
0     A         90         60
1     A         95         71
2     B         82         42
3     B         73         63

In [79]:
df = df.groupby('class').mean()
df[df['chi_score'] == df.max()['chi_score']]

       chi_score  eng_score
class
A           92.5       65.5

In [77]:
df.max()

chi_score    92.5
eng_score    65.5
dtype: float64

In [78]:
df['chi_score'] == df.max()['chi_score']

class
A     True
B    False
Name: chi_score, dtype: bool